.header {
  border: solid red;
  width: 100vw;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo-ifood {
  width: 200px;
  height: 100%;
}

.logo-ifood > img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
