<ul class="list-card">
  <app-small-cards
    image_post="https://static8.depositphotos.com/1020482/913/i/600/depositphotos_9134357-stock-photo-delivery-scooter-with-big-white.jpg"
    title_post="Titulo dinamico 5"
    content_post="C5"
    author_name="A5"
    author_image="https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/Mark_Twain%2C_Brady-Handy_photo_portrait%2C_Feb_7%2C_1871%2C_cropped.jpg/150px-Mark_Twain%2C_Brady-Handy_photo_portrait%2C_Feb_7%2C_1871%2C_cropped.jpg"
    post_date="PD5"
  >
  </app-small-cards>
  <app-small-cards
    image_post="https://static8.depositphotos.com/1020482/913/i/600/depositphotos_9134357-stock-photo-delivery-scooter-with-big-white.jpg"
    title_post="Titulo dinamico 5"
    content_post="C5"
    author_name="A5"
    author_image="https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/Mark_Twain%2C_Brady-Handy_photo_portrait%2C_Feb_7%2C_1871%2C_cropped.jpg/150px-Mark_Twain%2C_Brady-Handy_photo_portrait%2C_Feb_7%2C_1871%2C_cropped.jpg"
    post_date="PD5"
  >
  </app-small-cards>
  <app-small-cards
    image_post="https://static8.depositphotos.com/1020482/913/i/600/depositphotos_9134357-stock-photo-delivery-scooter-with-big-white.jpg"
    title_post="Titulo dinamico 5"
    content_post="C5"
    author_name="A5"
    author_image="https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/Mark_Twain%2C_Brady-Handy_photo_portrait%2C_Feb_7%2C_1871%2C_cropped.jpg/150px-Mark_Twain%2C_Brady-Handy_photo_portrait%2C_Feb_7%2C_1871%2C_cropped.jpg"
    post_date="PD5"
  >
  </app-small-cards>
  <app-small-cards
    image_post="https://static8.depositphotos.com/1020482/913/i/600/depositphotos_9134357-stock-photo-delivery-scooter-with-big-white.jpg"
    title_post="Titulo dinamico 5"
    content_post="C5"
    author_name="A5"
    author_image="https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/Mark_Twain%2C_Brady-Handy_photo_portrait%2C_Feb_7%2C_1871%2C_cropped.jpg/150px-Mark_Twain%2C_Brady-Handy_photo_portrait%2C_Feb_7%2C_1871%2C_cropped.jpg"
    post_date="PD5"
  >
  </app-small-cards>
  <app-small-cards
    image_post="https://static8.depositphotos.com/1020482/913/i/600/depositphotos_9134357-stock-photo-delivery-scooter-with-big-white.jpg"
    title_post="Titulo dinamico 5"
    content_post="C5"
    author_name="A5"
    author_image="https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/Mark_Twain%2C_Brady-Handy_photo_portrait%2C_Feb_7%2C_1871%2C_cropped.jpg/150px-Mark_Twain%2C_Brady-Handy_photo_portrait%2C_Feb_7%2C_1871%2C_cropped.jpg"
    post_date="PD5"
  >
  </app-small-cards>
  <app-small-cards
    image_post="https://static8.depositphotos.com/1020482/913/i/600/depositphotos_9134357-stock-photo-delivery-scooter-with-big-white.jpg"
    title_post="Titulo dinamico 5"
    content_post="C5"
    author_name="A5"
    author_image="https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/Mark_Twain%2C_Brady-Handy_photo_portrait%2C_Feb_7%2C_1871%2C_cropped.jpg/150px-Mark_Twain%2C_Brady-Handy_photo_portrait%2C_Feb_7%2C_1871%2C_cropped.jpg"
    post_date="PD5"
  >
  </app-small-cards>
</ul>
