<ul class="list-card">
  <app-small-cards
    id="1"
    image_post="https://content.news.ifood.com.br/uploads/2023/05/capa-sugestao3-copiar.webp"
    title_post="iFood faz campanha de doação para formar mulheres em tecnologia"
    content_post="Contribuições pelo app para a WoMakersCode serão dobradas pelo iFood e vão ajudar a ONG a conceder bolsas de estudo para formação em tecnologia. "
    author_name="A5"
    author_image="https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/Mark_Twain%2C_Brady-Handy_photo_portrait%2C_Feb_7%2C_1871%2C_cropped.jpg/150px-Mark_Twain%2C_Brady-Handy_photo_portrait%2C_Feb_7%2C_1871%2C_cropped.jpg"
    post_date="18/05/2023"
    link_redirect="https://news.ifood.com.br/ifood-faz-campanha-de-doacao-para-formar-mulheres-em-tecnologia/"
  >
  </app-small-cards>
  <app-small-cards
    id="2"
    image_post="https://content.news.ifood.com.br/uploads/2023/05/ifood_educacao.webp"
    title_post="iFood investe R$ 12 milhões na formação em tecnologia"
    content_post="Por meio do Potência Tech, empresa já ofereceu mais de 28 mil bolsas para cursos desde 2021"
    author_name="A5"
    author_image="https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/Mark_Twain%2C_Brady-Handy_photo_portrait%2C_Feb_7%2C_1871%2C_cropped.jpg/150px-Mark_Twain%2C_Brady-Handy_photo_portrait%2C_Feb_7%2C_1871%2C_cropped.jpg"
    post_date="17/05/2023"
    link_redirect=""
  >
  </app-small-cards>
  <app-small-cards
    id="3"
    image_post="https://content.news.ifood.com.br/uploads/2023/05/ifn-capacopiar.webp"
    title_post="Como evitar acidentes: 10 dicas de direção defensiva"
    content_post="Saiba quais são as regras de ouro para antecipar situações de perigo no trânsito e conduzir qualquer veículo de forma segura"
    author_name="A5"
    author_image="https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/Mark_Twain%2C_Brady-Handy_photo_portrait%2C_Feb_7%2C_1871%2C_cropped.jpg/150px-Mark_Twain%2C_Brady-Handy_photo_portrait%2C_Feb_7%2C_1871%2C_cropped.jpg"
    post_date="12/05/2023"
    link_redirect=""
  >
  </app-small-cards>
  <app-small-cards
    id="4"
    image_post="https://content.news.ifood.com.br/uploads/2023/05/CAPA-direcaodefensiva-copiar1.webp"
    title_post="iFood oferece curso de direção defensiva para entregadores"
    content_post="Programa foi lançado inicialmente nas cidades de Brasília, Fortaleza e Recife e já formou 290 profissionais"
    author_name="A5"
    author_image="https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/Mark_Twain%2C_Brady-Handy_photo_portrait%2C_Feb_7%2C_1871%2C_cropped.jpg/150px-Mark_Twain%2C_Brady-Handy_photo_portrait%2C_Feb_7%2C_1871%2C_cropped.jpg"
    post_date="07/05/2023"
    link_redirect=""
  >
  </app-small-cards>
  <app-small-cards
    id="5"
    image_post="https://content.news.ifood.com.br/uploads/2023/04/capa-educopiar.webp"
    title_post="Entregadores contam como a educação está mudando suas vidas"
    content_post="Eles passaram pelos programas de educação do iFood e falam ..."
    author_name="A5"
    author_image="https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/Mark_Twain%2C_Brady-Handy_photo_portrait%2C_Feb_7%2C_1871%2C_cropped.jpg/150px-Mark_Twain%2C_Brady-Handy_photo_portrait%2C_Feb_7%2C_1871%2C_cropped.jpg"
    post_date="24/04/2023"
    link_redirect=""
  >
  </app-small-cards>
  <app-small-cards
    id="6"
    image_post="https://content.news.ifood.com.br/uploads/2023/04/capa-vocacao.jpg"
    title_post="Vocação capacita jovens para desenvolver seus projetos de vida"
    content_post="Conheça a atuação dessa ONG parceira do iFood que realiza projetos de educação e empregabilidade"
    author_name="A5"
    author_image="https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/Mark_Twain%2C_Brady-Handy_photo_portrait%2C_Feb_7%2C_1871%2C_cropped.jpg/150px-Mark_Twain%2C_Brady-Handy_photo_portrait%2C_Feb_7%2C_1871%2C_cropped.jpg"
    post_date="23/04/2023"
    link_redirect=""
  >
  </app-small-cards>

  <app-small-cards
    id="7"
    image_post="https://content.news.ifood.com.br/uploads/2023/04/capa-cx-doe-copiar.webp"
    title_post="Ajude uma causa: como você pode fazer doação no app do iFood"
    content_post="Você não precisa fazer um pedido para doar no aplicativo (e a gente mostra, passo a passo, como fazer isso)"
    author_name="A5"
    author_image="https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/Mark_Twain%2C_Brady-Handy_photo_portrait%2C_Feb_7%2C_1871%2C_cropped.jpg/150px-Mark_Twain%2C_Brady-Handy_photo_portrait%2C_Feb_7%2C_1871%2C_cropped.jpg"
    post_date="15/04/2023"
    link_redirect=""
  >
  </app-small-cards>
  <app-small-cards
    id="8"
    image_post="https://content.news.ifood.com.br/uploads/2023/05/capa-hackaton.webp"
    title_post="Potência Tech promove hackathon online em maio"
    content_post="Em parceria com a Hackathon BR, desafio para público externo acontece nos dias 27 e 28; saiba como se inscrever"
    author_name="A5"
    author_image="https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/Mark_Twain%2C_Brady-Handy_photo_portrait%2C_Feb_7%2C_1871%2C_cropped.jpg/150px-Mark_Twain%2C_Brady-Handy_photo_portrait%2C_Feb_7%2C_1871%2C_cropped.jpg"
    post_date="15/05/2023"
    link_redirect=""
  >
  </app-small-cards>
  <app-small-cards
    id="9"
    image_post="https://content.news.ifood.com.br/uploads/2023/04/foto8.webp"
    title_post="Conheça as ONGs parceiras do iFood em educação"
    content_post="Saiba quais são as organizações que a empresa apoia para impactar positivamente as vidas de milhões de brasileiros"
    author_name="A5"
    author_image="https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/Mark_Twain%2C_Brady-Handy_photo_portrait%2C_Feb_7%2C_1871%2C_cropped.jpg/150px-Mark_Twain%2C_Brady-Handy_photo_portrait%2C_Feb_7%2C_1871%2C_cropped.jpg"
    post_date="27/04/2023"
    link_redirect=""
  >
  </app-small-cards>
</ul>
