<nav class="menu">
  <div class="logo">
    <img src="/assets/icon-home.png" width="30px" alt="logo" /><a
      [routerLink]="['']"
      >Home</a
    >
  </div>
  <div class="logo">
    <img src="/assets/icon-instagram.png" width="20px" alt="logo" /><a
      href="https://www.instagram.com/ifoodnewsbrasil/"
      >Instagram</a
    >
  </div>
  <div class="logo">
    <img src="/assets/icon-yt.png" width="35px" alt="logo" /><a
      href="https://www.youtube.com/channel/UCm0yGLhbISZwm4s-OjmIwog"
      >Youtube</a
    >
  </div>
  <div class="logo">
    <img src="/assets/icon-fb.png" width="30px" alt="logo" /><a
      href="https://www.facebook.com/ifoodnewsbrasil/"
      >Facebook</a
    >
  </div>
  <div class="logo">
    <img src="/assets/icon-twitter.png" width="30px" alt="logo" /><a
      href="https://twitter.com/iFoodNewsBrasil  "
      >Twitter</a
    >
  </div>
</nav>
